div.Studieinfo {

    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    margin: 100px;
    
}


/* Styles all elements across all pages */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}


/* CSS for Navigation - Bar */

/* Design for the header container */
header {
    position: fixed;
    background: rgb(128, 0, 0); /* Mørk - Rød bakgrunn */
    width: 100%;
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;    /* Vertical centering of logo and navigation */
    padding: 0 2em;
    z-index: 10;
}

/* Design for the OsloMet logo */
header img {
    width: 8em;
    margin-left: 2em;
}

/* Navigation - moves each items to the right */
nav {
    margin-left: auto;
}

nav ul {
    display: flex;
    list-style: none;
}

/* Style for each items in the nav */
nav ul li a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding: 1.25em;
    position: relative;
}

/* Style for the yellow line displays */
nav ul li a::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: 0.3s ease;
}

/* When the mouse is over the linkm the line expands  */
nav ul li a:hover::after {
    width: 100%;
}

/* Background Main OsloMet Img */
.backgroung_OsloMet {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.backgroung_OsloMet img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    transform: translate(-50%, -50%);   /* Centers img */
    z-index: -1;                        /* img behinde the content */
}

.footorleft {
    background-color: white;
    text-align: left;
    padding-left: 1rem;
/*The title of the page*/

.Title{

}
.subtext{
    margin-top:10px;
    color: #555;
    font-size:1em;

}
/*The first section of main "studyInformation"*/

.studyInformation{
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.studyInformation div{
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;

}

.arrow{
    font-size:1.2em;
    color:rgb(120, 0, 0);
    margin: 15px;
}

.studyInformation h2{
    font-size: 1.2em;
    color:#333;
    font-weight: normal;
}

/* Contact us */

.advisory-section {

    text-align: center;
    padding: 20px;
    background-color:white;
    border-radius: 6px;
    box-shadow: 0 4 px white;
    max-width: 300px;

}


.main-heading {

    font-size: 1.2em;
    color: black;
    margin-bottom: 8px;

}

.subtitle {

    font-size: 0.8em;
    color: black;
    margin-bottom: 15px;

}

.contact-button {

    display: inline-block;
    padding: 7px 16px;
    font-size: 0.9em;
    color: white;
    background-color: darkred;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.5s ease;
    margin-bottom: 9px;


}

.contact-button:hover {

    background-color: white;

}

.back-link {

   display: block;
   font-size: 0.8em;
   color: black;¨
   text-decoration: none;
   margin-top: 9px;
}

.back-link:hover {

    text-decoration: underline;

}





/* Conteiner for the boxes */
.studyBoxes {
    display: flex;
    gap: 20px;
    max-width: 90%;
    padding: 20px;
}

/* Style for each box */
.InformationBox {
    background-color: #d32f2f;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Bakgrunnsbilde */




}

/*--SLUTT AV INDEX*/




